Import des librairies :

In [28]:
import numpy as np
import pandas as pd
from geopy.distance import geodesic

1- Chargement des datasets train, test, et concat√©nation avec le dataset Sample Submission :

In [29]:
#Chargement et concat√©nation des datasets train et test : 
train=pd.read_csv('Food Delivery/train.csv')
test=pd.read_csv('Food Delivery/test.csv')
df_initial=pd.concat([train,test]).reset_index(drop=True)
df_initial

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56987,0x6909,JAPRES01DEL01,35,4.6,26.905190,75.810753,27.015190,75.920753,27-03-2022,21:35:00,21:45:00,conditions Sunny,Jam,1,Snack,scooter,1,No,Metropolitian,NaN
56988,0x443b,JAPRES11DEL01,33,4.9,26.902940,75.793007,26.912940,75.803007,11-03-2022,11:40:00,11:45:00,conditions Sandstorms,High,1,Drinks,scooter,1,No,Metropolitian,NaN
56989,0x1ea5,SURRES11DEL03,NaN,NaN,21.157735,72.768778,21.217735,72.828778,11-03-2022,NaN,21:05:00,conditions NaN,NaN,3,Drinks,scooter,1,No,Metropolitian,NaN
56990,0x22d4,VADRES03DEL02,27,4.7,22.320000,73.170000,22.450000,73.300000,06-03-2022,18:35:00,18:40:00,conditions Sandstorms,Medium,0,Meal,motorcycle,0,No,Metropolitian,NaN
56991,0xb7be,CHENRES07DEL02,39,5,13.081878,80.248519,13.131878,80.298519,24-03-2022,22:20:00,22:25:00,conditions Windy,Low,2,Drinks,motorcycle,1,No,Urban,NaN

In [30]:
#Remplacement du type de Time_taken en float pour homog√©n√©iser avec le dataset sample
df_initial['Time_taken(min)']=df_initial['Time_taken(min)'].str.replace('(min)','').astype(float)

In [31]:
#Lecture du fichier sample avec un merge dans le dataset 
sample=pd.read_csv('Food Delivery/Sample_Submission.csv')
df=pd.merge(df_initial,sample, how='left', on='ID')
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),Time_taken (min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,...,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,24.0,NaN
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,...,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,33.0,NaN
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,...,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,26.0,NaN
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,...,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,21.0,NaN
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,...,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,30.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56987,0x6909,JAPRES01DEL01,35,4.6,26.905190,75.810753,27.015190,75.920753,27-03-2022,21:35:00,...,conditions Sunny,Jam,1,Snack,scooter,1,No,Metropolitian,NaN,21.972500
56988,0x443b,JAPRES11DEL01,33,4.9,26.902940,75.793007,26.912940,75.803007,11-03-2022,11:40:00,...,conditions Sandstorms,High,1,Drinks,scooter,1,No,Metropolitian,NaN,29.390000
56989,0x1ea5,SURRES11DEL03,NaN,NaN,21.157735,72.768778,21.217735,72.828778,11-03-2022,NaN,...,conditions NaN,NaN,3,Drinks,scooter,1,No,Metropolitian,NaN,26.244167
56990,0x22d4,VADRES03DEL02,27,4.7,22.320000,73.170000,22.450000,73.300000,06-03-2022,18:35:00,...,conditions Sandstorms,Medium,0,Meal,motorcycle,0,No,Metropolitian,NaN,23.752500
56991,0xb7be,CHENRES07DEL02,39,5,13.081878,80.248519,13.131878,80.298519,24-03-2022,22:20:00,...,conditions Windy,Low,2,Drinks,motorcycle,1,No,Urban,NaN,23.827500

In [32]:
#Remplacement des NA par les valeurs de Sample
df['Time_taken(min)'].fillna(df['Time_taken (min)'],inplace=True)

In [33]:
df=df.drop(columns=['Time_taken (min)'])

In [34]:
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,24.000000
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,33.000000
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,26.000000
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,21.000000
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,30.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56987,0x6909,JAPRES01DEL01,35,4.6,26.905190,75.810753,27.015190,75.920753,27-03-2022,21:35:00,21:45:00,conditions Sunny,Jam,1,Snack,scooter,1,No,Metropolitian,21.972500
56988,0x443b,JAPRES11DEL01,33,4.9,26.902940,75.793007,26.912940,75.803007,11-03-2022,11:40:00,11:45:00,conditions Sandstorms,High,1,Drinks,scooter,1,No,Metropolitian,29.390000
56989,0x1ea5,SURRES11DEL03,NaN,NaN,21.157735,72.768778,21.217735,72.828778,11-03-2022,NaN,21:05:00,conditions NaN,NaN,3,Drinks,scooter,1,No,Metropolitian,26.244167
56990,0x22d4,VADRES03DEL02,27,4.7,22.320000,73.170000,22.450000,73.300000,06-03-2022,18:35:00,18:40:00,conditions Sandstorms,Medium,0,Meal,motorcycle,0,No,Metropolitian,23.752500
56991,0xb7be,CHENRES07DEL02,39,5,13.081878,80.248519,13.131878,80.298519,24-03-2022,22:20:00,22:25:00,conditions Windy,Low,2,Drinks,motorcycle,1,No,Urban,23.827500

2- Data Cleaning :

In [35]:
#Remplacer conditions dans la colonne "Weatherconditions" par rien
df['Weatherconditions']=df['Weatherconditions'].str.replace('conditions','')

In [36]:
#Constatation de l'absence de vraies valeurs NAN dans le dataset:
df.isnull().sum()

ID                             0
Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Order_Date                     0
Time_Orderd                    0
Time_Order_picked              0
Weatherconditions              0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
Time_taken(min)                0
dtype: int64

In [37]:
#Remplacement des fausses valeurs NaN par des vrais NaN
df.replace('NaN', np.nan, inplace=True)
df.replace('NaN ',np.nan, inplace=True)
df.replace(' NaN',np.nan, inplace=True)
df.replace('nan',np.nan, inplace=True)
df.replace('nan ',np.nan, inplace=True)

In [38]:
#D√©tection des valeurs NaN dans le Dataset
df.isnull().sum()

ID                                0
Delivery_person_ID                0
Delivery_person_Age            2345
Delivery_person_Ratings        2415
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    2175
Time_Order_picked                 0
Weatherconditions               774
Road_traffic_density            755
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries            1231
Festival                        293
City                           1524
Time_taken(min)                   0
dtype: int64

In [39]:
#Spliter city_code de Delivery_person_ID
df['City_code']=df['Delivery_person_ID'].str.split('RES', expand=True)[0]

In [40]:
#Supprimer les espaces au d√©but et √† la fin des cha√Ænes de caract√®res
df=df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [41]:
#V√©rification des valeurs dupliqu√©es
df.duplicated().value_counts()

False    56992
Name: count, dtype: int64

In [42]:
#Modification du type de certaines colonnes
def update_datatype(df):
    df['Delivery_person_Age'] = df['Delivery_person_Age'].astype('float64')
    df['Delivery_person_Ratings']=df['Delivery_person_Ratings'].astype('float64')
    df['multiple_deliveries']=df['multiple_deliveries'].astype('float64')
    df['Order_Date']=pd.to_datetime(df['Order_Date'], format="%d-%m-%Y")

update_datatype(df)

In [43]:
#Imputation des valeurs NaN
def handle_null_values(df):
    df['Delivery_person_Age'].fillna(np.random.choice(df['Delivery_person_Age']),inplace=True)
    df['Delivery_person_Ratings'].fillna(df['Delivery_person_Ratings'].median(),inplace=True)
    df['Weatherconditions'].fillna(np.random.choice(df['Weatherconditions']),inplace=True)
    df['Road_traffic_density'].fillna(df['Road_traffic_density'].mode()[0], inplace=True)
    df['multiple_deliveries'].fillna(df['multiple_deliveries'].mode()[0],inplace=True)
    df['Festival'].fillna(df['Festival'].mode()[0],inplace=True)
    df['City'].fillna(df['City'].mode()[0],inplace=True)
handle_null_values(df)

In [44]:
#Rev√©rification des valeurs nulles dans le Dataset
df.isna().sum()

ID                                0
Delivery_person_ID                0
Delivery_person_Age               0
Delivery_person_Ratings           0
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    2175
Time_Order_picked                 0
Weatherconditions                 0
Road_traffic_density              0
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries               0
Festival                          0
City                              0
Time_taken(min)                   0
City_code                         0
dtype: int64

3- Feature Engineering:

In [45]:
#Convertir time ordered et time order picked en date time
df['Time_Orderd']=pd.to_datetime(df['Time_Orderd'])
df['Time_Order_picked']=pd.to_datetime(df['Time_Order_picked'])

C:\Users\Lamia\AppData\Local\Temp\ipykernel_30800\4126424470.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time_Orderd']=pd.to_datetime(df['Time_Orderd'])
C:\Users\Lamia\AppData\Local\Temp\ipykernel_30800\4126424470.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time_Order_picked']=pd.to_datetime(df['Time_Order_picked'])

In [46]:
#Calculer la diff√©rence entre les deux 
df['Time_Preparation'] = df['Time_Order_picked'] - df['Time_Orderd']
#Convertir la diff√©rence en minutes seulement Preparation
df['Time_Preparation']=df['Time_Preparation'].dt.seconds//60
#Imputer les valeurs NaN de Time Preparation par la m√©diane
df['Time_Preparation'].fillna(df['Time_Preparation'].median(),inplace=True)

In [47]:
#Suppression de la colonne  Time Orderd 
df=df.drop(columns='Time_Orderd')

In [48]:
df.isna().sum()

ID                             0
Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Order_Date                     0
Time_Order_picked              0
Weatherconditions              0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
Time_taken(min)                0
City_code                      0
Time_Preparation               0
dtype: int64

In [49]:
#Calcul de la distance entre la localisation du restaurant et celle du client:
from geopy.distance import geodesic
def calculate_distance(df):
    df['distance']=np.zeros(len(df))
    restaurant_coordinates=df[['Restaurant_latitude','Restaurant_longitude']].to_numpy()
    delivery_location_coordinates=df[['Delivery_location_latitude','Delivery_location_longitude']].to_numpy()
    df['distance']=np.array([geodesic(restaurant, delivery) for restaurant, delivery in zip (restaurant_coordinates, delivery_location_coordinates)])

calculate_distance(df)

In [50]:
#Transformation de la distance en chaine de caract√®res pour √©viter des erreurs dans la conversion
df['distance']=df['distance'].astype("str")
#Remplacement de km par rien 
df['distance']=df['distance'].str.replace(' km','').astype(float)
#Limitation des nombres apr√®s la virgule √† 2 
df['distance']=round(df['distance'],2)

In [51]:
#Suppression des distances sup√©rieures √† 50km
df = df[~(df["distance"] > 50)]\
    .reset_index(drop=True).copy()

In [52]:
#Extraction des dates features de order date 
def extract_date_features (data):
  data["day"] = data.Order_Date.dt.day
  data["month"]=data.Order_Date.dt.month
  data['day_of_week']=data.Order_Date.dt.day_of_week.astype(int)
  data['is_weekend']=np.where(data['day_of_week'].isin([5,6]),1,0)

extract_date_features(df)

#Extraction des heures de time order picked
df['Time_Order_picked']=df['Time_Order_picked'].dt.hour


#D√©finir plage horaire de time order picked
time_ranges = [(0, 5), (6, 11), (12, 17), (18, 23)]
time_categories = ['night', 'morning', 'afternoon', 'evening']

# Cr√©ation d'une fonction lambda pour la d√©finition des plages horaires
get_time_category = lambda hour: next((category for (start, end), category in zip(time_ranges, time_categories) if start <= hour <= end), 'unknown')

# Application de la fonction lambda √† la colonne 'Time_category'
df['Time_category'] = df['Time_Order_picked'].apply(get_time_category)

In [53]:
#Renommer colonne Time_order_picked 
df.rename(columns={'Time_Order_picked': 'Hour_picked'},inplace=True)

In [54]:
#Export du dataset sous format csv 
df.to_csv('df_final.csv')