In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('df_final.csv')

In [4]:
df.rename(columns={'Time_Difference': 'Time_preparation'}, inplace=True)

In [5]:
df=df.drop(columns='Unnamed: 0')

In [6]:
df.columns

Index(['ID', 'Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Order_Date', 'Hour_picked',
       'Weatherconditions', 'Road_traffic_density', 'Vehicle_condition',
       'Type_of_order', 'Type_of_vehicle', 'multiple_deliveries', 'Festival',
       'City', 'Time_taken(min)', 'City_code', 'Time_preparation', 'distance',
       'day', 'month', 'day_of_week', 'is_weekend', 'Time_category'],
      dtype='object')

In [7]:
df.describe(include='all')

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Hour_picked,...,City,Time_taken(min),City_code,Time_preparation,distance,day,month,day_of_week,is_weekend,Time_category
count,56447,56447,56447.000000,56447.000000,56447.000000,56447.000000,56447.000000,56447.000000,56447,56447.000000,...,56447,56447.000000,56447,56447.000000,56447.000000,56447.000000,56447.000000,56447.000000,56447.000000,56447
unique,56447,1320,NaN,NaN,NaN,NaN,NaN,NaN,44,NaN,...,3,NaN,22,NaN,NaN,NaN,NaN,NaN,NaN,4
top,0x4607,INDORES01DEL02,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-01,NaN,...,Metropolitian,NaN,JAP,NaN,NaN,NaN,NaN,NaN,NaN,evening
freq,1,72,NaN,NaN,NaN,NaN,NaN,NaN,1436,NaN,...,43702,NaN,4291,NaN,NaN,NaN,NaN,NaN,NaN,35292
mean,NaN,NaN,29.854784,4.636308,17.394631,70.766797,17.458270,70.830435,NaN,17.153790,...,NaN,26.284477,NaN,9.999291,9.722918,13.828228,2.983578,2.990203,0.273495,NaN
std,NaN,NaN,5.903283,0.324959,7.330978,21.120667,7.332325,21.120977,NaN,5.322734,...,NaN,9.199494,NaN,4.020353,5.598249,8.729924,0.545258,1.969768,0.445757,NaN
min,NaN,NaN,15.000000,1.000000,0.000000,0.000000,0.010000,0.010000,NaN,0.000000,...,NaN,10.000000,NaN,5.000000,1.460000,1.000000,2.000000,0.000000,0.000000,NaN
25%,NaN,NaN,25.000000,4.500000,12.934179,73.170283,12.986113,73.280000,NaN,14.000000,...,NaN,19.000000,NaN,5.000000,4.650000,6.000000,3.000000,1.000000,0.000000,NaN
50%,NaN,NaN,30.000000,4.700000,18.554382,75.898497,18.632718,75.997522,NaN,19.000000,...,NaN,25.000000,NaN,10.000000,9.200000,13.000000,3.000000,3.000000,0.000000,NaN
75%,NaN,NaN,35.000000,4.800000,22.732225,78.045359,22.784648,78.102075,NaN,21.000000,...,NaN,32.000000,NaN,15.000000,13.660000,20.000000,3.000000,5.000000,1.000000,NaN
max,NaN,NaN,50.000000,6.000000,30.914057,88.433452,31.054057,88.563452,NaN,23.000000,...,NaN,54.000000,NaN,15.000000,20.940000,31.000000,4.000000,6.000000,1.000000,NaN

In [46]:
# Liste des caractéristiques
feature_list = ['Delivery_person_Age', 'Delivery_person_Ratings', 'Hour_picked', 'Weatherconditions', 'Road_traffic_density', 'Vehicle_condition', 'Type_of_order', 'Type_of_vehicle', 'multiple_deliveries', 'Festival', 'City', 'City_code', 'Time_preparation', 'distance', 'day_of_week', 'is_weekend', 'Time_category']

# Extraction des caractéristiques et de la cible
X = df.loc[:, feature_list]
y = df.loc[:, "Time_taken(min)"]

print("Forme de X :", X.shape)
print("Forme de y :", y.shape)

print("X :")
print(X.head())  # Affichage des premières lignes de X
print("Type de X :", type(X))

print("y :")
print(y.head())  # Affichage des premières lignes de y
print("Type de y :", type(y))

Forme de X : (56447, 17)
Forme de y : (56447,)
X :
   Delivery_person_Age  Delivery_person_Ratings  Hour_picked  \
0                 37.0                      4.9           11
1                 34.0                      4.5           19
2                 23.0                      4.4            8
3                 38.0                      4.7           18
4                 32.0                      4.6           13

  Weatherconditions Road_traffic_density  Vehicle_condition Type_of_order  \
0             Sunny                 High                  2         Snack
1            Stormy                  Jam                  2         Snack
2        Sandstorms                  Low                  0        Drinks
3             Sunny               Medium                  0        Buffet
4            Cloudy                 High                  1         Snack

  Type_of_vehicle  multiple_deliveries Festival           City City_code  \
0      motorcycle                  0.0       No          Urban      INDO
1         scooter                  1.0       No  Metropolitian      BANG
2      motorcycle                  1.0       No          Urban      BANG
3      motorcycle                  1.0       No  Metropolitian     COIMB
4         scooter                  1.0       No  Metropolitian      CHEN

   Time_preparation  distance  day_of_week  is_weekend Time_category
0              15.0      3.02            5           1       morning
1               5.0     20.14            4           0       evening
2              15.0      1.55            5           1       morning
3              10.0      7.77            1           0       evening
4              15.0      6.20            5           1     afternoon
Type de X : <class 'pandas.core.frame.DataFrame'>
y :
0    24.0
1    33.0
2    26.0
3    21.0
4    30.0
Name: Time_taken(min), dtype: float64
Type de y : <class 'pandas.core.series.Series'>

In [47]:
numeric_features = [feature_list.index(feature) for feature in ['Delivery_person_Age', 'Delivery_person_Ratings', 'Hour_picked', 'multiple_deliveries', 'distance'] if feature in feature_list]
categorical_features = [feature_list.index(feature) for feature in feature_list if feature not in ['Delivery_person_Age', 'Delivery_person_Ratings', 'Hour_picked', 'multiple_deliveries', 'distance']]

print("Indices des caractéristiques numériques:", numeric_features)
print("Indices des caractéristiques catégoriques:", categorical_features)

Indices des caractéristiques numériques: [0, 1, 2, 8, 13]
Indices des caractéristiques catégoriques: [3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 16]

In [48]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline


numeric_features = [0,1,2,8,13] 
categorical_features = [3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 16]

# Séparer les données en ensemble d'entraînement et ensemble de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


numeric_transformer = StandardScaler()
categorical_transformer = OneHotEncoder()


preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

# Appliquer le prétraitement sur l'ensemble d'entraînement
X_train_preprocessed = preprocessor.fit_transform(X_train)

# Appliquer le prétraitement sur l'ensemble de test
X_test_preprocessed = preprocessor.transform(X_test)

# Définir et entraîner le modèle RandomForestRegressor
model = RandomForestRegressor(n_estimators=100, min_samples_split=100, max_depth=15, random_state=0)
model.fit(X_train_preprocessed, y_train)

# Obtention de l'importance des fonctionnalités
feature_importance = model.feature_importances_

# Obtention des noms des caractéristiques catégoriques
categorical_feature_names = preprocessor.named_transformers_['cat'].get_feature_names_out()

# Création du DataFrame pour stocker les fonctionnalités et leurs importances
feature_names = numeric_features + categorical_feature_names.tolist()
feature_importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': feature_importance})

# Affichage du DataFrame des importances des fonctionnalités
print(feature_importance_df)

                    Feature  Importance
0                         0    0.093764
1                         1    0.232600
2                         2    0.001747
3                         8    0.142269
4                        13    0.096748
..                      ...         ...
65             is_weekend_1    0.000055
66  Time_category_afternoon    0.000322
67    Time_category_evening    0.000051
68    Time_category_morning    0.000021
69      Time_category_night    0.000014

[70 rows x 2 columns]

In [53]:
numeric_feature_names = X.columns[numeric_features]
categorical_feature_names = preprocessor.named_transformers_['cat'].get_feature_names_out()

# Concaténation des noms de caractéristiques numériques et catégoriques
feature_names = list(numeric_feature_names) + list(categorical_feature_names)

# Création du DataFrame pour stocker les fonctionnalités et leurs importances
feature_importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': feature_importance})

# Affichage du DataFrame des importances des fonctionnalités
print(feature_importance_df)

                    Feature  Importance
0       Delivery_person_Age    0.093764
1   Delivery_person_Ratings    0.232600
2               Hour_picked    0.001747
3       multiple_deliveries    0.142269
4                  distance    0.096748
..                      ...         ...
65             is_weekend_1    0.000055
66  Time_category_afternoon    0.000322
67    Time_category_evening    0.000051
68    Time_category_morning    0.000021
69      Time_category_night    0.000014

[70 rows x 2 columns]

In [54]:
feature_importance_df.to_excel('importance1.xlsx')